@define-color error-text Red;
@define-color error-border Red;

field #error_label {
    color: @error-text;
    font-size: 12px;
}

field.invalid entry {
    border-color: @error-border;
}

levelbar block.low {
    background-color: red;
    border-color: red;
}

levelbar block.high {
    background-color: orange;
    border-color: orange;
}

levelbar block.full {
    background-color: green;
    border-color: green;
}

chat entry {
    border-radius: 50px;
}

stack#chats {
    border-left: 1px solid lightgray;
}

stacksidebar {
    border-width: 0px;
}

stacksidebar row {
    border-radius: 0px;
    min-height: 44px;
    margin: 0px;
}

stacksidebar list {
    padding: 0px;
}

message {
    border-radius: 10px;
    padding: 10px;
}

message.own {
    background-color: lightblue;
    border-color: lightblue;
}

message.external {
    background-color: lightgreen;
    border-color: lightgreen;
}

message label#sender_label {
    font-size: x-small;
    color: gray;
}

user-page label.title {
    font-size: xx-large;
}

add-chat-page label.title {
    font-size: xx-large;
}

/* * {
    border: 1px solid black;
} */
