#own-message {
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: lightblue;
    padding: 10px;
    border-right: 2px solid cornflowerblue;

}

#external-message {
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: lightgreen;
    padding: 10px;
    border-left: 2px solid green;
    border-bottom: 1px solid black;
}

stacksidebar list {
    margin: 0px;
    padding: 0px;
}

stacksidebar row {
    margin: 0px;
    padding: 5px;
    border-radius: 0px;
    border-bottom: 1px solid lightgray;
}
